@import url('../public/font/proxima_2/stylesheet.css');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Alt Lt';
    font-weight: 900;
    font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
